.contact-title-text{
    background-color: #F1B300 ;
    color: #191919;
    font-size: 900;
    padding: 15px;
    margin-bottom: 0px;
}

.contact-text-style{
    font-size: 45px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 15%;
    color: #FFFFFF;
    font-weight: 900;
}