.people-card-container{
    background-color: rgb(128, 128, 128, 0.60);  
    transition: transform 250ms ease-in-out;
    box-shadow: 5px 5px 5px rgb(25, 25, 25, .5);
    transition: 0.8s;
}
.people-card-container:hover{
    transform: scale(1.05);
    transition: transform 250ms ease-in-out;
}



.people-card-img{
    height: 200px;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.placeholder-card-img{
    height: 200px;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.people-card-title-before{
    font-size: 30px;
}
.people-card-title-after{
    font-size: 30px;
    text-align: start;
}

.people-card-position-after{
    font-size: 20px;
    text-align: start;
}

.people-card-description{
    font-size: 16px;
    text-align: start;
}