.people-card-container-front{
    background-color: rgb(128, 128, 128, 0.80);  
    transition: transform 200ms ease-in-out;
    box-shadow: 5px 5px 5px rgb(25, 25, 25, .5);
    transition: 0.5s;
    position: relative;
}
.people-card-container-back{
    background-color: rgb(128, 128, 128, 0.60);  
    transition: transform 50ms ease-in-out;
    box-shadow: 5px 5px 5px rgb(25, 25, 25, .5);
    transition: 0.1s;
}
.people-card-container-back::after{
    background-color: rgb(128, 128, 128, 0.90); 
    transition: transform 50ms ease-in-out;
    box-shadow: 5px 5px 5px rgb(25, 25, 25, .5);
    transition: 0.1s;
}

.people-card-container-front:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}

.people-card-container-front::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 65px;
    left: 25%;
    right: 25%;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.people-card-container-front:active{
    transform: scale(.97);
    transition: transform 150ms ease-in-out;
}

.people-card-container-back:active{
    transform: scale(.97);
    transition: transform 150ms ease-in-out;
}

/*
No animation on mobile
*/
@media (width <= 600px) {
    .people-card-container:hover{
        transform: none;
        transition: none;
    }
}



.people-card-img{
    height: 200px;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.placeholder-card-img{
    height: 200px;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


  
  


.people-card-title-before{
    font-size: 30px;
}
.people-card-title-after{
    font-size: 30px;
    text-align: start;
}

.people-card-position-after{
    font-size: 20px;
    text-align: start;
}

.people-card-description{
    font-size: 16px;
    text-align: start;
}

.people-card-email{
    font-size: 16px;
    font-weight: 700;
    text-align: start;
}