.landing-title-text{
    background-color: #F1B300 ;
    color: #191919;
    font-weight: 900;
    padding: 15px;
}

@media screen and (max-width: 700px) {
    .landing-rotaing-image-container{
        max-height: 100vh;
    }
}

.landing-intro-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: fit-content;
}

.landing-intro-text1{
    font-size: 4rem;
    font-weight: 400;
}

.landing-intro-text2{
    font-size: 4rem;
    font-weight: 400;
    padding: 35px;
}

@media screen and (max-width: 850px) {
    .landing-intro-text1, .landing-intro-text2{
        font-size: 3rem;
    }
}

@media screen and (max-width: 850px) {
    .landing-intro-text1, .landing-intro-text2{
        font-size: 3rem;
    }
}

@media screen and (max-width: 400px) {
    .landing-intro-text1, .landing-intro-text2{
        font-size: 2rem;
    }
}

.landing-page-cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #191919; 
    margin-bottom: 30px;
}