.landing-main-container{
    height: 100vh;
    margin-bottom: 0px !important;
}

.landing-title-text{
    background-color: #F1B300 ;
    color: #191919;
    font-weight: 900;
    padding: 15px;
}

/* .landing-rotaing-image-container{
    height: 100vh;
} */

@media screen and (max-width: 700px) {
    .landing-rotaing-image-container{
        max-height: 100vh;
    }
}

.landing-intro-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.landing-intro-text1{
    
    font-size: 4rem;
    font-weight: 400;
}

.landing-intro-text2{
    font-size: 4rem;
    font-weight: 400;
    padding: 35px;
}

.landing-page-cards-container{
    display: flex;
  
    justify-content: center;
  
    background-color: #191919; 

    margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
    .landing-intro-text-container{
        
        height: 45vh;

    }
    .landing-intro-text1, .landing-intro-text2{
        font-size: 3rem;
    }
}