.landing-page-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(128, 128, 128, 0.60);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    margin-bottom: 30px;
}

.rotating-card-container{
    display: flex;
    margin-top: 0px;
    margin-bottom: 30px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}