.ourteam-cards{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.team-title-text{
    background-color: #F1B300 ;
    color: #191919;
    font-size: 25px;
    padding: 15px;
    margin-bottom: 0px;
}


@media screen and (max-width: 600px) {
    .ourteam-cards{
        width: 100%;
        padding: 0;
    }
    
}