.publications-card-container{
    background-color: rgb(128, 128, 128, 0.60);  
    transition: transform 200ms ease-in-out;
    box-shadow: 5px 5px 5px rgb(25, 25, 25, .5);
}

.footer-publications-btn{
    padding-bottom: 5px;
    padding-right: 5px;
}

.menu-btn{
    background-color: #F1B300 !important;
    border-color: #F1B300 !important;
}

.menu-btn:hover{
    background-color: #FFFFFF !important;
    color: #191919 !important;
}
.menu-btn:active{
    background-color: #F1B300 !important;
    color: #191919 !important;
}