.card{
    margin: 20px;
}

.card-img{
    height: 270px;
    width: 100%;
}

.menu-btn{
    background-color: #FFFFFF;
    color: #191919;
    border-color: #F1B300 !important;
}

.menu-btn:hover{
    background-color: #F1B300;
    color: #191919;
}
.menu-btn:active{
    background-color: #FFFFFF !important;
    color: #191919 !important;
}