.mobile-view-footer-card-container{
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.mobile-view-footer{
    color: rgb(128, 128, 128);
}

.mobile-view-footer:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}