.project-link-container{
    color: black;
    text-decoration: none;
    position: relative;
    text-decoration: none;
}

.project-card-container{
    margin: 20px;
    border-radius: 0;
    border: none;
    background-color: rgba(129, 128, 128, 0.6);
    transition: transform 250ms ease-in-out;
}

.project-card-container:hover{
    transform: scale(1.05);
    transition: transform 250ms ease-in-out;
    transform: translateY(-15px);
    
}
/* .project-card-container:hover .hover-comment:before{
    content: 'Learn More';
}

.project-card-container:hover .project-decription-text{
    display: none;
}
.hover-comment{
    color: #FFFFFF;
    transition: transform 250ms ease-in-out;
} */

.project-card-title{
    font-size: 30px;
}

.card-img{
    height: 270px;
    width: 100%;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
      transition: none;
    }
  }