.card-container{
    margin: 20px;
    border-width: 2px;
    border-color: #191919 !important;
}

.project-card-title{
    font-size: 30px;
}

.card-img{
    height: 270px;
    width: 100%;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

/*
Fix the button alignment when different size text is added
*/

.project-btn{
    background-color: #FFFFFF;
    color: #191919;
    border-color: #F1B300 !important;
}

.project-btn:hover{
    background-color: #F1B300;
    color: #191919;
}   

.project-btn:active{
    background-color: #FFFFFF !important;
    color: #191919 !important;
}
