.rotating-card-container{
    height: 700px;
}

.rotating-img{
    flex: content;
}

.rotating-text-title{
    color: #191919;
}

.rotating-card-text{
    background-color: rgb(241, 179, 0, 90%);
    color: #191919;
}

.rotating-btn{
    background-color: #FFFFFF;
    color: #191919;
    border-color: #F1B300 !important;
}
.rotating-btn:hover{
    background-color: #F1B300;
    color: #191919;
}

.dot {
    position: relative;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
  
.active-dot, .dot:hover {
    background-color: #717171;
}