.carousel-container{
    width: 100%;
    max-height: 600px;
    top: 0;
    left: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}