img{
  height: 50px;
}

.search-btn{
  background-color: #FFFFFF !important;
  color: #191919;
  border-color: #F1B300 !important;
}

.search-btn:hover{
  background-color: #F1B300 !important;
  color: #191919;
}