.desktop-view-footer-container{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.desktop-view-links-footer{
    color: rgb(128, 128, 128);
    text-decoration: none;
}

.desktop-view-links-footer:hover{
    color: rgb(255, 255, 255);
}

.desktop-view-icons-footer{
    color: rgb(128, 128, 128);
}

.desktop-view-icons-footer:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}