:root {
  font-family: "Public Sans";
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  height: 100%;

  color-scheme: light dark;
  color: #191919;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

*{
  margin: 0px;
  padding: 0px;
}

/*
To prevent mobile horizontal scroll
*/

html, body{
  padding-top: 48px;
  overflow-x: hidden;
}

body{
  position: relative;
}