.aboutus-top-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.aboutus-top-img{
    height: 600px;
}

.aboutus-main-text{
    font-size: 22px;
}

.about-title-text{
    background-color: #F1B300 ;
    color: #191919;
    font-size: 900;
    padding: 15px;
    margin-bottom: 0px;
}