.aboutus-top-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.aboutus-top-img{
    height: 600px;
}

.aboutus-main-text{
    font-size: 22px;
}

.about-text-style{
    font-size: 45px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 15%;
    color: #FFFFFF;
    font-weight: 900;
}

.about-title-text{
    background-color: #F1B300 ;
    color: #191919;
    font-size: 900;
    padding: 15px;
    margin-bottom: 0px;
}