.aboutus-top-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.aboutus-top-img{
    height: 600px;
}

.about-title-text{
    background-color: #F1B300 ;
    color: #191919;
    font-size: 900;
    padding: 15px;
    margin-bottom: 0px;
}

.learn-more-button-aboutus:active{
    background-color: #5E48FF !important;
    color: #FFFFFF !important;
}

.learn-more-button-aboutus:hover{
    background-color: #FFFFFF !important;
    color: #5E48FF !important;
}